div
    display: flex

table
    width: 100%
    box-shadow: none
    background-color: white
    padding: 30px

.wrapper
    width: 100%
    height: 100%
    background-image: url(/assets/background.jpg)
    background-repeat: no-repeat
    background-size: cover
    justify-content: center
    min-height: 880px
    .wrapper-form
        margin: 20px 0
        height: 100%
        width: 60%
        flex-direction: column
        background-color: white
        padding: 20px
        border-radius: 20px
        h3
            margin-bottom: 10px
        .form-field
            width: 100%
            margin-bottom: 10px
        .form-field-button
            width: 100%
            margin-bottom: 10px
            button
                border: 1px solid #5a5ddd
                background-color: #00000000
                box-shadow: none
                transition: .4s ease
                width: 100%
                border-radius: 0
                border-radius: 5px
                &:hover
                    border-radius: auto
                    background-color: #5a5ddd
                    color: white
    .ui
        width: 100%
        margin-bottom: 10px
        outline: none
        margin-bottom: 15px
        i
            width: auto
        .form-date
            border-bottom: 1px solid rgb(128,128,128)
        input
            border: none
            border-radius: 0
            padding-left: 1.6em !important
