<div class="wrapper">
    <div class="wrapper-form">
        <h3>Все игроки</h3>
        <mat-form-field class="form-field">
            <mat-label>Team</mat-label>
            <mat-select>
                <mat-option *ngFor="let team of teams" [value]="teams.value">
                    {{team.Name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="form-field">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="Id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="FullName">
                <th mat-header-cell *matHeaderCellDef> Full Name </th>
                <td mat-cell *matCellDef="let element"> {{element.FullName}} </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="Born">
                <th mat-header-cell *matHeaderCellDef> Born </th>
                <td mat-cell *matCellDef="let element"> {{element.Born}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="Contract">
                <th mat-header-cell *matHeaderCellDef> Contract </th>
                <td mat-cell *matCellDef="let element"> {{element.Contract}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>