<div class="wrapper">
    <div class="section-leage">
        <div class="header-match">
            <p>Матчи</p>
        </div>
        <div class="card-match">
            <div class="card-logo"></div>
            <div class="card-time">2019 12 22</div>
            <div class="card-button" routerLink="/mathches" routerLinkActive="active">
                <p>Все матчи</p>
            </div>
        </div>
        <div class="card-match">
            <div class="card-logo"></div>
            <div class="card-time">2019 12 22</div>
            <div class="card-button" routerLink="/mathches" routerLinkActive="active">
                <p>Все матчи</p>
            </div>
        </div>
    </div>
    <div class="section-content">
        <div class="header-content">
            <p>Главное</p>
        </div>
        <div class="section-centered">
            <div class="content-photo">
                <img src="/assets/content.jpg">
                <div class="container-content-info">
                    <h2>УПЛ назвала претендентов на звание лучшего игрока декабря</h2>
                    <p>Украинская Премьер-лига назвала игроков, которые поборются за звание лучшего по итогам декабря
                        декабря
                    </p>
                </div>
            </div>
        </div>
        <div class="header-content">
            <p>Новости премьер лиги</p>
        </div>
        <div class="section-centered-double">
            <div class="content-photo-one">
                <img src="/assets/content2.jpg">
                <div class="container-content-info-one">
                    <h2>Динамо планирует вернуть нападающего из аренды</h2>
                    <p>Киевский клуб может досрочно прервать арендное соглашение Назария Русина</p>
                </div>
            </div>
            <div class="content-photo-double">
                <img src="/assets/content3.jpg">
                <div class="container-content-info-double">
                    <h2>"Не буду стоять в стороне, когда приходит враг": Зозуля обратился к украинцам</h2>
                    <p>Украинский футболист поблагодарил всех за поддержку</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section-teams">
        <div class="header-teams">
            <p>Команды</p>
        </div>
        <ul class="teams">
            <li class="team-component" *ngFor="let team of teams">
                <span>{{team.name}}</span>
                <span>{{team.city}}</span>
            </li>
        </ul>
    </div>
</div>